@use "lib/viewport";

// ** Hide the existing legacy buttons ** //
.excerpt-toggle {
  display: none !important;
}
.fk-d-menu__trigger.topic-list-layout-trigger.btn-default.btn-icon {
  display: none !important;
}

// ** Hover fill for button on no-touch devices ** //
.discourse-no-touch .excerpts-gists-toggle-btn:hover:not(.active) {
  .d-button-label {
    color: var(--d-button-default-icon-color--hover) !important;
  }
  .d-icon {
    fill: var(--d-button-default-icon-color--hover) !important;
  }
}

// ** Button right spacing between icon and text ** //
.excerpts-gists-toggle-btn {
  .d-icon {
    @if $show_labels == "true" {
      margin-right: 0.5em;
    } @else {
      margin-right: 0;
    }
  }
}

.excerpts-gists-toggle-content .dropdown-menu {
  min-width: auto;
}

.excerpts-gists-toggle-content .d-button-label {
  padding-right: .5em !important;
}

.dropdown-menu__item .btn, .dropdown-menu__item .d-modal.json-schema-editor-modal .je-ready button, .d-modal.json-schema-editor-modal .je-ready .dropdown-menu__item button, .dropdown-menu__item .d-modal.json-schema-editor-modal .je-ready .json-editor-btn-add, .d-modal.json-schema-editor-modal .je-ready .dropdown-menu__item .json-editor-btn-add {
    display: inline-flex;
    gap: var(--d-sidebar-section-link-prefix-margin-right);
    padding-inline: var(--d-sidebar-row-horizontal-padding);
    width: 100%;
    justify-content: flex-start;
    background: rgba(0,0,0,0);
    border-radius: var(--d-border-radius);
    padding-right: .5em;
}

// ** Mobile viewport margin correction and hide button label always ** //
@include viewport.until(md) {
  .excerpts-gists-toggle-btn {
    .d-icon {
      margin-right: 0 !important;
    }
    .d-button-label {
      display: none;
    }
  }
}

// ** Hide the button on the categories route ** //
body.navigation-categories .excerpts-gists-toggle-btn {
  display: none;
}
